/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 14px Arial, sans-serif;
}

/* Finally adding some IE9 fallbacks for gradients to finish things up */

/* A nice BG gradient */
html {
	height: 100%;
	background: #DB0B0B;
	background: radial-gradient(circle, #C5E1E9 , #37EAF7);
	background-size: cover;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 325px;
	height: 450px;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #DDB05D;
	background: linear-gradient(top,#E27822,#E2224C);
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 160, 228, 0.12), 0px 10px 15px rgba(0, 0, 0, 0.2);
}

/* Top portion */
.top span.clear {
	float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 65px;
	width: 212px;
	
	float: right;
	
	padding: 0 10px;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 25px;
	line-height: 60px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 66px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 65px;
    text-align: center;
    font-size: 25px;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.5s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #F7A960;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #2688B6;
	color: #888e5f;
}

.top span.clear {
	background: #E44151;
	box-shadow: 0px 4px #F71C32;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #F1F506;
	color: #834545;
}

.keys span.eval:hover {
	background: #7F8F03;
	box-shadow: 0px 4px #03EC36;
	color: #ffffff;
}

.top span.clear:hover {
	background: #9C101C;
	box-shadow: 0px 4px #F10317;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #CF0675;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #03F52B;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #F00418;
}
